$content-width: 1200px;
$font-style: "Raleway", sans-serif;
$primary-color: #ff7b08;
$secondary-color: #512821;
$body-background: #1f1f1f;
$body-font-color: #ffffff;
$link-hover-color: #d60002;
$light: #ffce4d;
$header-height: 50px;
$footer: #8c8c8c;
$footer-height: 250px;

$foundation-palette: (
  primary: $primary-color,
  secondary: $secondary-color,
  success: #3adb76,
  warning: #ffae00,
  alert: #cc4b37,
);


// Overrite Foundation styling;
$topbar-title-spacing: 0;

/// Mixin printing a linear-gradient
/// as well as a plain color fallback
/// and the `-webkit-` prefixed declaration
/// @access public
/// @param {Keyword | Angle} $direction - Linear gradient direction
/// @param {Arglist} $color-stops - List of color-stops composing the gradient

@mixin linear-gradient($direction, $color-stops...) {
  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}

// For aligining items vertically inside a div
@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
