.no-js {
  #side-canvas-bar {
    display: none;
  }
}

.page-header {
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.social-icon-list {
  list-style: none;
  margin: 0 0 0.5em;
  padding: 0;

  li {
    list-style: none;
    line-height: 1.5;
    display: inline-block;
    padding: 5px;

    a {
      display: inline-block;
      width: 50px;
      height: 50px;
      border: 2px solid;
      border-radius: 100%;
      text-align: center;
      font-size: 20px;
      line-height: 45px;
    }
  }
}

#author-info {
  display: flex;

  .author-avatar {
    max-width: 6em;
  }

  .author-info-meta {
    margin: 0.7em;
  }
}

.side-menu-footer {
  padding: 0 1em;
}

.page-footer {
  .cell {
    text-align: center;
  }
}
